Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.


Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.
Use Pandas to read your cleaned measurements and stations CSV data.
Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.


You will need a class for Measurement and for Station.
Make sure to define your primary keys.


Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, ForeignKey, func, inspect
from sqlalchemy import MetaData
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
# 
import pandas as pd
import os
import csv

In [20]:
measurments_df = pd.read_csv(os.path.join("clean_measurments.csv"))
stations_df = pd.read_csv(os.path.join("clean_stations.csv"))
#measurments_df.head()
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [3]:
Base = declarative_base()

In [4]:
# Create Database Connection
# ----------------------------------
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [5]:
# Create Measurments and Stations classes
# ----------------------------------
class Measurments(Base):
    __tablename__ = 'measurments'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
# reflects an existing database into a new model
Base = automap_base()

# reflects the tables
Base.prepare(engine, reflect=True)

# views all of the classes that automap found
Base.classes.keys()

['measurments', 'stations']

In [7]:
Base.metadata.create_all(engine)

In [18]:
stations_df.to_sql("stations", engine, if_exists='append', index=False)
measurments_df.to_sql("measurments", engine, if_exists='append', index=False)

In [19]:
engine.execute('SELECT * FROM measurments LIMIT 2').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63)]

In [17]:
engine.execute('SELECT * FROM stations LIMIT 2').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)]