In [53]:
# Import libraries and tools:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests

In [28]:
# Set Chromedriver Path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#### JPL Mars Space Images - Featured Image

In [3]:
# The URL where we can find the featured image:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [4]:
#response = requests.get(url)

In [5]:
#soup = bs(response.text, 'html.parser')

In [10]:
# Visit the URL for the image:
browser.visit(url)

In [7]:
# xpath = '//footer//a[@class="button fancybox"]'
# results = browser.find_by_xpath(xpath)
# results.click()

In [11]:
# Find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url
browser.find_by_id('full_image').click()

In [15]:
# Make sure to find the image url to the full size .jpg image.
html = browser.html
soup = bs(html, 'html.parser')
img_url_par = soup.find("img", class_="fancybox-image")["src"]
img_url_par

'/spaceimages/images/mediumsize/PIA19113_ip.jpg'

In [19]:
# Make sure to save a complete url string for this image.
featured_img_url = 'https://www.jpl.nasa.gov' + img_url_par
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19113_ip.jpg'

#### Mars Weather

Visit the Mars Weather twitter account, and scrape the latest Mars weather tweet from the page.

Save the tweet text for the weather report as a variable called mars_weather

In [ ]:
# Set Chromedriver Path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
tweeter_url = 'https://twitter.com/marswxreport?lang=en'

In [30]:
browser.visit(tweeter_url)

In [34]:
html_weather = browser.html
soup = bs(html_weather, 'html.parser')
weather_tweet = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text 
print(weather_tweet)

Sol 2054 (May 17, 2018), Sunny, high 4C/39F, low -72C/-97F, pressure at 7.40 hPa, daylight 05:21-17:20

#### Mars Facts

Visit the Mars Facts webpage, and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.

In [36]:
# Set Chromedriver Path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [49]:
facts_url = 'https://space-facts.com/mars'
browser.visit(facts_url)

In [65]:
facts_tables = pd.read_html(facts_url)[0]
facts_tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [68]:
facts_tables.columns = ['Variables', 'Values']
facts_tables.set_index('Variables', inplace=True)
facts_tables

                                             Values
Variables
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [69]:
facts_tables.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Variables</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

#### Mars Hemisperes

Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemipshere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [72]:
# Set Chromedriver Path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [73]:
mars_h_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_h_url)